*{
    display: block;
}
/*musics{
    display: grid;
    align-content: space-between;
}*/
musics{
    background-color: rgb(15, 61, 100);
}

music {
    background-color: rgb(5, 130, 210);

    padding: 20% 25%;
}

musics music {
    display: inline-block;

    background-color: cornflowerblue;
    border-radius: 4px;
    margin: 1em;
    padding: 1% 5%;

    width: 15vw;

    max-width: 20vw;
}

music title{
    font-size: 1.5em;
    color: orange;
}
music composer{
    color: aqua;
}
music composers{
    display: inline-block;
    max-height: 5em;
    overflow-y: scroll;
    overflow-x: clip;

    border: 1px dashed rgb( 0 0 0 / 30%);

    scrollbar-width: thin;
}
music track{
    color: blueviolet;
}

music album{
    font-size: large;
    color: rgb(0 255 55);
}
musics music album{
    font-size: large;
    color: darkcyan;
}

music commentaire{
    color: rgb(123 60 60);
}
musics music commentaire{
    color: tan;
}
music path{
    opacity: 0.2;
}